html {
    background-color: black;
}
body {
    margin: 2rem auto;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: flex-start;
    
}
hr {
    min-width: 100%;
}
aside {
    background-color: grey;
    width: 6vw;
}
input[type=radio] {
    display: none;
}
aside input[type=radio]:checked + label {
    background-color:brown;
}
aside label {
    padding: .5rem 0;
    border-bottom: 1px solid black;
    display: block;
    text-align: center;
}
.creator-container {
    width: 12vw;
    border: 2px dashed orange;
    background-color:rgb(28, 57, 58);
    display: flex;
    flex-direction: column;
}
.size div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1ch 0;
    
}
.creator-container input[type='number'] {
    width: 3vw;
}
.size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.size p {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: chocolate;
    text-align: center;
}
.size input[type=radio]:checked + label {
    text-decoration: underline;
    
}
.size input[type=radio]:checked + label::after {
    content: " <<";
}
.size input[type=radio]:checked + label::before {
    content: ">> ";
}
button {
    margin: 1rem;
    padding: .5rem 1rem;
    font-weight: bolder;
}
.blocks-type {
    display: flex;
    flex-direction: column;
}
.blocks-type p {
    text-align: center;
    background-color: chocolate;
}
.blocks-type label{
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
    color: rgb(211, 128, 73);
}
.blocks-type input[type=radio]:checked + label {
    border: 3px dotted yellow;
    background-color: black;
    color: yellow;
}

.center {
    display: grid;
    place-items: center;
}
.game-container {
    display: flex;
    flex-wrap: wrap;
    
}
.wall {
    width: 2vw;
    height: 2vw;
    background-color: silver;
    background-image: linear-gradient(335deg, #b00 11.5px, transparent 11.5px),
                      linear-gradient(155deg, #d00 11.5px, transparent 11.5px),
                      linear-gradient(335deg, #b00 11.5px, transparent 11.5px),
                      linear-gradient(155deg, #d00 11.5px, transparent 11.5px);
    background-size: 29px 29px;
    background-position: 0px 1px, 3px 17.5px, 12.5px 15.5px, 17px 4px;
    clear: both;
    
}

.path {
    width: 2vw;
    height: 2vw;
    background-color: burlywood;
    display: grid;
    place-items: center;
}
.start {
    width: 2vw;
    height: 2vw;
    background-color: lightgrey;
    display: grid;
    place-items: center;
    
}
.start::before {
    content: "S";
    position: absolute;
}
.finish {
    width: 2vw;
    height: 2vw;
    background-color: lightgrey;
    display: grid;
    place-items: center;
}
.finish::before {
    content: "F";
    position: absolute;
}
.limit {
    width: 0.5;
    height: 0.5;
    background: none;
    background-image:unset;
    background-size:0;
    background-position: unset;
}
.player {
    width: max-content;
    height: max-content;
    font-size: x-large;
    color:rgba(1, 17, 104, 0.719);
    display: grid;
    place-items: center;
    transition: 2s ease-in both;
    -webkit-animation: wobble-hor-top 0.4s both;
    animation: wobble-hor-top 0.4s both;

}
.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.850);
    color: darkgreen;
    text-align: center;
    display: grid;
    place-items: center;
    z-index: 100;
}

.--hidden {
    display: none;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-4 1:18:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-top - modificada => 04/06/2021
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 30% 30%;
            transform-origin: 30% 30%;
  }
  15% {
    -webkit-transform: translateX(-2px) rotate(4deg);
            transform: translateX(-2px) rotate(4deg);
  }
  30% {
    -webkit-transform: translateX(2px) rotate(-4deg);
            transform: translateX(2px) rotate(-4deg);
  }
  45% {
    -webkit-transform: translateX(-2px) rotate(1.6deg);
            transform: translateX(-2px) rotate(1.6deg);
  }
  60% {
    -webkit-transform: translateX(1px) rotate(-1.4deg);
            transform: translateX(1px) rotate(-1.4deg);
  }
  75% {
    -webkit-transform: translateX(-1px) rotate(1.2deg);
            transform: translateX(-1px) rotate(1.2deg);
  }
}
